<div class = "Portfolio">
<div class="header">
  <div class="container">
    <h1>Jonathan Katz</h1>
    <h2 class="nav">
      <a href="/portfolio/">Portfolio</a>
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
    </h2>
  </div>
</div>

<div class="main"> 
  <div class="main home"> 
    <div class="container"> 
      <h2>Hello, my name is Jon Katz. I make art.</h2> 
			 <a class="btn-default" href="#">View my Work</a>
    </div> 
  </div> 
</div>

<div class="footer">
  <div class="container">
    <h2 class="Links">
      <a href="https://github.com/jkatz44">Github</a>
      <a href="https://www.linkedin.com">LinkedIn</a>
      <a href="https://twitter.com">Twitter</a>
    </h2>
    <p>© 2015 Jon Katz</p>
  </div>
</div>
</div>